// CONTENT
// This file includes the application of styles that will affect the elements that will be repeated throughout the application.
body {
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
  color: $darkGray;
	font-family: font(lato);
	font-weight: 300;
	padding: 0;
	height: 100%;
}
a {
  // font-weight: 700;
  text-decoration: none;
  text-shadow:
    // 2px 2px 0px $black;
    1px 1px 0px $black,
    1px 0px 0px $black,
    0px 1px 0px $black,
    -1px 0px 0px $black,
    0px -1px 0px $black,
    -1px -1px 0px $black;
  &:link, &:visited {
    color: $white;
  }
  &:link {
  }
  &:visited {
    // color: $darkPink;
  }
}