// CONTENT
// This file includes all of the application of styles to specific elements.
// will likely be broken into multiple files as needed.
.site {
	@include group;
}
.home_header {
	color: $white;
	line-height: 3em;
	overflow: hidden;
	text-align: center;
	@include group;
	@include bp(medium) {
		line-height: 4em;
	}
	@include bp(large) {
		line-height: 5em;
	}
	&--title_block_wrap {}
	&--title_block {
		@include group;
		background-image: url(img/logo_0.png);
		background-repeat: no-repeat;
		background-position: center 200px;
		background-color: $blackTrans;
		display: inline-block;
		padding: 2em 2em 12em 2em;
		position: relative;
	}
	&--title {
		font-size: 2.9em;
		font-weight: 700;
		@include bp(medium) {
			font-size: 4em;
		}
		@include bp(large) {
			font-size: 5em;
		}
	}
	&--description {
		font-size: 2.4em;
		font-weight: 100;
		@include bp(medium) {
			font-size: 3.2em;
		}
		@include bp(large) {
			font-size: 4em;
		}
	}
	&--speckel {
		animation: glimmer-stepper 50s steps(3) infinite;
		// transition-timing: linear;

		background-image: url(img/goldSpeckle.png);
		background-position: 0 12px;
		bottom: 0;
		height: 24px;
		left: 0;
		position: absolute;
		width: 100%;
	}
	&--logo {}
}
.gallery_loop_wrap {
	background-color: $blackTrans;
	// border-top: 0.5em solid $white;
	@include full;
}
$layout-two_column: (columns: 2, gutters: 0.05);
.gallery_loop {
	@include wrap;
	@include group;
	&--title {
		color: $white;
		font-size: 2em;
		text-align: center;
	}
	&--thumbnail {
		background-position: center center;
		background-size: cover;
		font-size: 1.5em;
		height: 150px;
		margin-bottom: 1em;
		text-align: center;
		text-decoration: none;
		&:link, &:visited {
			// color: $blackTrans;
		}
		&:hover {
			text-decoration: underline;
		}
		@include bp(small) {
			@include span(4);
		}
		@include bp(medium) {
			@include span(1 $layout-two_column);
			&.index_2 {
				margin-right: 0;
			}
		}
		@include bp(large) {
			@include span(4);
			&.index_3 {
				margin-right: 0;
			}
		}
	}
}
.submit_photos_home {
	@extend %button;
	background-color: $blackTrans;
	display: inline;
	padding-bottom: 0.6em;
}
.submit_photos {
	@extend %button;
	background-color: $blackTrans;
	display: inline;
	float: right;
	margin: 0;
	padding-bottom: 0.6em;
	text-align: right;
	@include bp(small) {
		display: none;
	}
}
.event_photos_button {
	@extend %button;
	background-color: $blackTrans;
	display: inline;
	padding-bottom: 0.6em;
}
.site_header_wrap {
	background-color: $blackTrans;
	@include full;
}
.site_header {
	@include wrap;
	@include group;
	@include bp(small) {
		text-align: center;
	}
}
.site-branding {
	@extend %text-shadow;
	font-size: 1.1em;
	@include bp(medium-andup) {
		float: left;
	}
}
.site-title {
	clear: none;
	display: inline;
	font-size: 1.5em;
	font-weight: 700;
	text-decoration: none;
	a {
		text-decoration: none;
		text-shadow: none;
	}
	&:link, &:visited {
		// color:
	}
}
.site-description {
	clear: none;
	display: inline;
	font-size: 1.5em;
	margin-left: 0.2em;
	text-shadow: none;
}


.loading_overlay {
	background-color: $blackTrans;
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 1000;
}
.entry-header {
}
.entry-title {
	font-size: 2.5em;
	margin-top: 1em;
	text-align: center;
}
.bx-wrapper {
	background-color: transparentize($black, 0.2);
	left: 0;
	padding: 0.5em;
	position: fixed;
	top: 0;
	z-index: index($z-gallery_stack, bx-wrapper);
}
.bx-prev, .bx-next {
	position: fixed;
	top: 50%;
}
.bx-prev {
	left: 0;
	padding: 2em;
}
.bx-next {
	padding: 2em;
	right: 0;
}
.gallery {
	&--image_wrap {}
	&--close {
		@extend %button;
		position: fixed;
		right: 0;
		top: 0;
		z-index: index($z-gallery_stack, gallery--close);
		.admin-bar & {
			margin-top: 4.7em;
		}
	}
	&--image {
		display: block;
		margin: 0 auto;
		opacity: 0;
	}
}
.gallery_nav_wrap {}
$size-nav_square: 10em;
.gallery_nav {
	@include wrap;
	padding: 0.5em;
	&--image {
		background-size: cover;
		background-position: center center;
		display: block;
		float: left;
		height: $size-nav_square;
		margin-bottom: 1em;
		overflow: hidden;
		width: $size-nav_square;
		@include bp(small) {
			@include span(2);
			&.nth-2 {
				margin-right: 0;
			}
		}
		@include bp(medium) {
			@include span(3);
			&.nth-3 {
				margin-right: 0;
			}
		}
		@include bp(large) {
			@include span(3);
			&.nth-4 {
				margin-right: 0;
			}
		}
	}
}