// CONTENT
// This file contains all non printing styles other than layout.
$white: #ffffff;
$black: #000000;
$darkGray: #404040;
$blackTrans: transparentize($black, 0.2);
$gray: #a3a3a3;
$pink: #df00db;
$darkPink: #bb00ba;
$lightBlue: #cad9ec;
$deepBlue: #0e295a;

$font: (
	lato: ("Lato", Helvetica, sans-serif),
	);

$z-gallery_stack: bx-wrapper, gallery--close;

@function map($targetMap, $mapList) {
	$mapItem: $targetMap;
	@each $mapPart in $mapList {
		$mapItem: map-get($mapItem, $mapPart);
	}
	@return $mapItem;
}
@function color($colorTree) {
	@return map($color, $colorTree);
}
@function font($fontTree) {
	@return map($font, $fontTree);
}
@function size($sizeTree) {
	@return map($size, $sizeTree);
}


@mixin group() {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

%text-shadow {
	text-shadow: 0.1em 0.1em 0 white;
}
%button {
	background-color: transparent;
	border: 1px solid $white;
	border-radius: 0.2em;
	box-shadow: none;
	color: $white;
	display: inline;
	font-weight: 300;
	line-height: 1.5em;
	margin: 2em;
	padding: 0.5em 1em;
	text-decoration: none;
	text-shadow: none;
	&:hover {
		border: 1px solid $white;
		box-shadow: none;
	}
}

@keyframes glimmer-stepper {
	0% { background-position: center 0px; }
	100% { background-position: center 72px; }
}